### Notebook for Path Fixing

Since the environment that we are working with changed, image paths should change too.
This notebook fixes it.

In [1]:
import pandas as pd
import os

In [13]:
train = pd.read_csv('vedai-formatted-annotations-train.csv', header=None)
val = pd.read_csv('vedai-formatted-annotations-val.csv', header=None)

In [14]:
train.head()

,0,1,2,3,4,5
0,/content/drive/My Drive/Test Images/Vehicules5...,277,498,304,511,truck
1,/content/drive/My Drive/Test Images/Vehicules5...,163,403,182,410,car
2,/content/drive/My Drive/Test Images/Vehicules5...,195,402,218,410,van
3,/content/drive/My Drive/Test Images/Vehicules5...,297,413,310,434,camping car
4,/content/drive/My Drive/Test Images/Vehicules5...,420,440,458,452,camping car

In [15]:
def new_path(row):
    return row.split('ges/')[1]

train[0] = train[0].apply(new_path)
val[0] = val[0].apply(new_path)

In [16]:
train.head()

                              0    1    2    3    4            5
0  Vehicules512/00000000_co.png  277  498  304  511        truck
1  Vehicules512/00000001_co.png  163  403  182  410          car
2  Vehicules512/00000001_co.png  195  402  218  410          van
3  Vehicules512/00000002_co.png  297  413  310  434  camping car
4  Vehicules512/00000003_co.png  420  440  458  452  camping car

In [29]:
train.loc[train[3] > 512, 3] = 512
train.loc[train[4] > 512, 4] = 512
train.loc[train[1] < 0, 1] = 0
train.loc[train[2] < 0, 2] = 0

In [33]:
val.loc[val[3] > 512, 3] = 512
val.loc[val[4] > 512, 4] = 512
val.loc[val[1] < 0, 1] = 0
val.loc[val[2] < 0, 2] = 0

In [34]:
train.to_csv("vedai-formatted-annotations-train-gpu.csv", header=None, index=False)
val.to_csv("vedai-formatted-annotations-val-gpu.csv", header=None, index=False)