In [103]:
import pandas as pd
import os
import numpy as np

In [104]:
anno = pd.read_csv(r'C:\Users\bavlab0001\Downloads\Annotations1024\annotation1024.txt', 
                   header = None, sep = '\s+', dtype=str)

In [105]:
anno[[4,5,6,7,8,9,10,11]] = anno[[4,5,6,7,8,9,10,11]].astype(int) 
xmin = anno[[4,5,6,7]].min(axis=1)
xmax = anno[[4,5,6,7]].max(axis=1)
ymin = anno[[8,9,10,11]].min(axis=1)
ymax = anno[[8,9,10,11]].max(axis=1)
img_name = anno[0]
label = anno[12]
lst = list(zip(img_name, xmin, ymin, xmax, ymax, label))

In [106]:
df = pd.DataFrame(lst,
                columns = ['img', 'xmin', 'ymin', 'xmax', 'ymax', 'label'])

In [107]:
df[df['xmin'] > df['xmax']]

Empty DataFrame
Columns: [img, xmin, ymin, xmax, ymax, label]
Index: []

In [108]:
### Creating the necessary annotations format
## 1. Replacing the label class placeholders
df['label'] = df['label'].replace({'002': 'truck', '001': 'car',
                         '009': 'van', '005':'camping car',
                         '011': 'pick-up', '004':'tractor',
                         '010': 'other car', '023': 'boat', 
                         '031': 'plane', '008': 'bus', '007': 'motorcycle'})

In [109]:
## Fixing first column to add image extension
#'/content', 'drive', 'My Drive', 'Test Images'
# Change the end of the path to 512/1204 when needed
def add_extension_color(img_name):
    return ('/content/drive/My Drive/Test Images/Vehicules1024/' + img_name + '_co.png')

# for infra-red images
def add_extension_ir(img_name):
    return ('/content/drive/My Drive/Test Images/Vehicules1024/' + img_name + '_ir.png')

In [110]:
# applying to coulmn
df['img'] = df['img'].apply(add_extension_color)

In [111]:
df[['xmin', 'ymin', 'xmax', 'ymax']] = df[['xmin', 'ymin', 'xmax', 'ymax']].astype(int)

In [112]:
df.shape

(3757, 6)

In [113]:
df_train = df.iloc[:3000]
df_val= df.iloc[3000:]

In [114]:
df_train.to_csv('vedai-formatted-annotations-train-full-1024.csv', sep=',', header=None, index=None)
df_val.to_csv('vedai-formatted-annotations-val-full-1024.csv', sep=',', header=None, index=None)

In [115]:
train = pd.read_csv('vedai-formatted-annotations-train-full-1024.csv', header=None)
val = pd.read_csv('vedai-formatted-annotations-val-full-1024.csv', header=None)

In [116]:
def new_path(row):
    return row.split('ges/')[1]

train[0] = train[0].apply(new_path)
val[0] = val[0].apply(new_path)

In [117]:
## Change the value to 512 and 1024 when needed
train.loc[train[3] > 1024, 3] = 1024
train.loc[train[4] > 1024, 4] = 1024
train.loc[train[1] < 0, 1] = 0
train.loc[train[2] < 0, 2] = 0

In [118]:
val.loc[val[3] > 1024, 3] = 1024
val.loc[val[4] > 1024, 4] = 1024
val.loc[val[1] < 0, 1] = 0
val.loc[val[2] < 0, 2] = 0

In [119]:
train.to_csv("vedai-formatted-annotations-train-gpu-full-1024.csv", header=None, index=False)
val.to_csv("vedai-formatted-annotations-val-gpu-full-1024.csv", header=None, index=False)

In [120]:
### --------------------- ###

In [121]:
train.head()

                               0    1    2    3     4            5
0  Vehicules1024/00000000_co.png  554  996  607  1021        truck
1  Vehicules1024/00000001_co.png  326  805  363   819          car
2  Vehicules1024/00000001_co.png  390  803  435   819          van
3  Vehicules1024/00000002_co.png  593  826  620   867  camping car
4  Vehicules1024/00000003_co.png  839  880  915   903  camping car